

@{
	ViewData["Title"] = "Все книги";
}
<link rel="stylesheet" href="~/css/catalog2.css">

<p class="text-center">ТЕСТ 2 КАТОЛОГ</p>

<ul class="listBooks">
	<li class="li-container">
		<a href="" class="book">
			<div class="cover">
				<img src="/images/10.png" alt="book">
			</div>
			<div class="info">
				<div class="title bg-warning"><strong>Title</strong></div>
				<div class="author">Author</div>
				<div class="description">Тут длиииии иииииииии ииииииииииииииии ииииииииииииииии ииииииии ииииииии нное описание............... .................И тут тоже</div>
			</div>
			<div class="price">100$</div>
		</a>
	</li>
	<li class="li-container">
		<a href="" class="book">
			<div class="cover">
				<img src="/images/10.png" alt="book">
			</div>
			<div class="info">
				<div class="txt bg-warning"><strong>Title 2</strong></div>
				<div class="txt">Author</div>
				<div class="txt">Тут длиииии иииииииии ииииииииииииииии ииииииииииииииии ииииииии ииииииии нное описание............... .................И тут тоже</div>
			</div>
			<div class="price">99.99$</div>
		</a>
	</li>

</ul>

