

@{
    ViewData["Title"] = "Каталог";
}
<link rel="stylesheet" href="~/css/catalog.css">

<p class="text-center">ТЕСТОВЫЙ КАТАЛОГ</p>

<ul class="products clearfix">
	<li class="product-wrapper">
		<a href="@Url.Action("AllBooks","Catalog")" class="product">
			<div class="product-photo">
				<img src="~/images/back.jpeg" alt="all">
			</div>
			<p class="text-center">Все книги</p>
		</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product">
			<div class="product-photo">
				<img src="images/books.jpeg" alt="images/books.jpeg">
			</div>
			<p class="text-center">Раздел</p>
		</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product">
			<div class="product-photo">
				<img src="images/books.jpeg" alt="images/books.jpeg">
			</div>
			<p class="text-center">Раздел</p>
		</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product">
			<div class="product-photo">
				<img src="images/books.jpeg" alt="images/books.jpeg">
			</div>
			<p class="text-center">Раздел</p>
		</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product">
			<div class="product-photo">
				<img src="images/books.jpeg" alt="images/books.jpeg">
			</div>
			<p class="text-center">Раздел</p>
		</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product">
			<div class="product-photo">
				<img src="images/books.jpeg" alt="images/books.jpeg">
			</div>
			<p class="text-center">Раздел</p>
		</a>
	</li>
	
</ul>
