

@{
    ViewData["Title"] = "Каталог";
}
<link rel="stylesheet" href="~/css/catalog.css">

<p>ТЕСТ КАТОЛОГ</p>

<ul class="products clearfix">
	<li class="product-wrapper">

		<a href="@Url.Action("AllBooks","Catalog")" class="product">

			<p>Все книги</p>
		</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product">
			<div class="product-photo">
				<img src="images/corgi.jpeg" alt="corgi">
			</div>
			<p>Some text</p>
		</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
</ul>
<img src="images/corgi.jpeg" alt="corgi">