


@{
	ViewData["Title"] = "Добавить книгу";
}
<h1 class="text-center">Новая книга</h1>
<form action="@Url.Action(nameof(BookController.AddBookResult))" method="post">
	<div class="form-group">
		<label for="isbn">ISBN</label>
		<input type="text" class="form-control" name="isbn" placeholder="ISBN0000000000" value="ISBN0000000000" />
		<label for="author">Author</label>
		<input type="text" class="form-control" name="author" placeholder="author" value="Автор" />
		<label for="title">Title</label>
		<input type="text" class="form-control" name="title" placeholder="title" value="Название" />
		<label for="description">Description</label>
		<input type="text" class="form-control" name="description" value="Описание" />
		<label for="price">Price</label>
		<input type="text" class="form-control" name="price" placeholder="0,00" value="9,99" />
		<label for="image">Image</label>
		<input type="text" class="form-control" name="image" placeholder="images/book.jpeg" value="images/book.jpeg" />
		<p></p>
		<button class="btn btn-outline-success text-center" type="submit">Добавить новую книгу в базу данных</button>
	</div>
</form>