@{
    ViewData["Title"] = "Онлайн-магазин";
}
<div>
    <h1 class="display-10">Найди что почитать!</h1>
</div>
<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-8c41d276-7245-42bf-b937-305ba404482d" data-elfsight-app-lazy></div>


