@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-10">Найди что почитать!</h1>
</div>

<div class="text-center">
    <form action="/search" method="get">
        <input type="text" name="query" value="" />
        <button type="submit">Поиск</button>
    </form>
</div>



