body {
}

.listBooks {
    list-style: none;
    padding: 0;
    margin: 0;

}

.li-container {
    display: block;
    position: relative;
    border: 1px solid black;
    width: auto;
    height: 100px;
    margin: 10px;
    overflow: hidden;
}

.book {
    /*display: inline-block;*/
    /*margin-left: 200px;*/
    /*float: left;*/
}

.cover {
    /*position: relative;*/
    /*    max-width: 65%;
    max-height: 100%;*/
    padding: 5px;
    float: left;
    width: 100px;
    height: 100px;
    display: flex;
    /*    display: inline-block;*/
    /*    min-width: 500px;
    min-height: auto;*/
}
.info {
    max-width: 65%;
    max-height: 100%;
    padding: 5px;
    float: left;
}

    .cover img {

/*        top: 0;
        bottom: 0;
        left: 0;
        right: 0;*/
        transition: transform .4s ease-out;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        /*height: 100%;*/
        /*width: 100%;*/
    }

.book:hover .cover img {
    transform: scale(1.05);
}

.price {
    /*float: right;*/
    padding: 5px;
    right: 0;
    bottom: 0;
    position: absolute;
    background: #9cbe8c;
    border: 1px solid black;
}
.description {
    /*overflow: hidden;*/
}


