@{
	ViewData["Title"] = "Заказ оформлен";
}
<p>Заказ оформлен, Мы собираем его для передачи в службу доставки.<a href="#"></a>
	Ждите SMS</p>
<p>
	<a href="@Url.Action("Index","Home")">Вернуться на главную</a>
</p>